<h1>New product</h1>

<%= render "form", product: @product %>
<%= link_to "Cancel", products_path %>

<div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>